
#map {
    height: 200px;
    width: 300px;
}

nav {
    background: white;
}

  

#chatbox {
    position: absolute;
    top: 100px;
    right: 40px; 
}

.clear-moon {
    background: #666;
}

#apod {
    text-align: center;
}

.top { 
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }
  
#chatbox {
    position: absolute;
    top: 100px;
    right: 40px;
}

#apod-image {
    width: 100%;
    height: 100%;
}

.formStyle {
    text-align: center;
    display: inline;
    background: #777;
}  

#city-input {
    width: 250px;
    display: inline;
    margin: 20px 0px;
}

#state-select {
    width: 50px;
    display: inline;
    margin: 20px;
}

#current-location {
    margin: 20px;
}



.invis {
    display: none;
}

.top { 
    background: url("assets/banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }

body {
    padding: 30px;
    background-color: black;
    opacity: 1;
    color: white;
    font-family: 'Orbitron', sans-serif;
}


#cardWeather {
    color:  #350e60;
}

hr {
color: white;
border-width: thick;
border: dotted;
}

#iss {
position: absolute;
padding: 40px;
}

#next {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
.top {
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
}

#copyright {
    text-align: center;
}