.navName {
    color: #350e60;
}

.office-img {
    background-image: center;
}

.top { 
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }

body {
    padding: 30px;
    background-color: black;
    opacity: 1;
    color: #350e60;
    font-family: 'Orbitron', sans-serif;
    align-content: center;  
}

#copyright {
    text-align: center;
    align-content: center;
    color: white;
}