body {
    background-color: black;
    opacity: 1;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.colp {
    padding: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.top { 
    background: url("assets/banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }

.navbar {
    padding: 20px;
}

.chat-bg {
    background: white;
}

#chatDiv {
    /* display: none; */
    text-align: center;
    border: 2px solid maroon;
}

.seatWarmer {
    display: block;
    min-height: 35px;
    min-width: 250px;
}

#chatInputDiv {
    border-top: solid 2px black;
    padding: 10px 0px;
}

#chatInput {
    width: 83.5%;
}

#chatSubmit {
    width: 13.5%;
    text-align: center;
    /* visibility: hidden; */
}

.clear-moon {
    background: #666;
    padding: 30px;
    border: solid 2px maroon;
}


#moon-body {
    line-height: 1.5em; 
}

#apod {
    text-align: center;
}

  
#chatbox {
    position: absolute;
    top: 100px;
    right: 40px;
}

  
#chatbox {
    position: absolute;
    top: 100px;
    right: 40px;
}

#apod-header {
    background: #666;
    padding: 10px 0px;
}

#apod-image {
    width: 100%;
    height: 100%;
}

#apodDesc {
    display: none;
}

.formStyle {
    margin: 80px 0px 30px 0px;
    text-align: center;
    display: inline;
    background-image: url(imgs/prism.png);
    border: 2px solid indigo;
}  

#city-input {
    width: 250px;
    display: inline;
    margin: 20px 0px;
}

#state-select {
    width: 50px;
    display: inline;
    margin: 20px;
}

#current-location {
    margin: 20px;
}

#moon-target {
    background: #666;;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid maroon;
    border-radius: 5px;
}

#weather-target{
    background: white;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border: 2px solid maroon;
    border-radius: 5px;
}


.invis {
    display: none;
}





#cardWeather {
    color:  #350e60;
}

hr {
color: white;
border-width: thick;
border: dotted;
}

#iss {
position: absolute;
padding: 40px;
}




.holder {
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 250px;
    padding: 20px;
}

#previous {
    display: inline;
    margin: 0px 10px;
}

#next {
    /* visibility: hidden; */
    display: inline;
    margin: 0px 10px;
}

/* @media screen and (max-width: 800px) {
.top {
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
} */

#map {
    height: 400px;
    width: 500px;
}

#copyright {
    text-align: center;
}