/* .gif {
    background-image: url("moon.gif") center no-repeat;
 } */
#chatbox {
    position: absolute;
    top: 100px;
    right: 40px;
    
}

.invis {
    display: none;
}

.top { 
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }

body {
    padding: 30px;
    background-color: black;
    opacity: 1;
    color: white;
}

#cardWeather {
    color:  #350e60;
}


hr {
color: white;
border-width: thick;
border: dotted;
}

#iss {
position: absolute;
padding: 40px;
}

@media screen and (max-width: 800px) {
.top {
    background: url("banner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
}